@import "font-awesome";
html,
body {
    font-size: 16px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    // @media #{$res1024} {
    //     .banner .banner__content .banner__content__top {
    //         p {
    //             font-size: 40px;
    //         }
    //         h1 {
    //             font-size: 100px;
    //         }
    //     }
    // }
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    margin: auto;
}