.swiper-container {
  width: 100%;
  height: 100%;
}
.container{
  margin: auto;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}


.banner{
  .swiper-pagination-bullet swiper-pagination-bullet-active{
    background-color: #fff;
  }

  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
    border: 1px solid #fff;
  }
  .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 50%;
    left: 45%;
    right: 100%;
    transform: rotate(90deg);
    @media #{$info-phone} {
      display: none ;
    }
  }
  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
    @media #{$info-phone} {
      margin: 0 5px;
    }
  }
}

.slick-dots li button{
    border: 1px solid #c7ced4;
    border-radius: 10px;
    width: 8px;
    height: 8px;
    padding: 3px;
    &::before{
      color: transparent;
    }
}
.slick-dots li.slick-active button{
  background-color: #062033;
  border: 1px solid #062033;
  &:before{
    color: transparent;
  }
}

.background-features{
  .slick-dots{
    bottom: -75%;
    @media #{$info-tablet-horizontal} {
      bottom: -50%;
    }
  }
}
.team{
  .slick-dots{
    bottom: -20%;
  }
  .slick-slide{
    text-align: center;
  }
}


.slick-next , .slick-prev {
  display: none !important;
}

.top{
  top: 3px !important;
  @media #{$info-tablet-horizontal} {
    top: 0;
  }
}
.margin-top{
  margin-top: 5px;
}

.title{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  h2{
    color: $title;
    font-size: 28px;
    font-weight: 800;
  }
  .title__img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    hr{
      width: 90px;
      border-top: 1px solid #dce1e5;
    }
     img{
       margin: 0 15px;
       width: 20px;
       height: 15px;
       background-size: cover;
       object-fit: none;
    }
  }
 
  p{
    font-weight: 600;
    font-size: 18px;
    color: #384d5c;
    padding: 0 100px;
    margin: 20px 0 45px 0;
    line-height: 1.5;
    @media #{$info-phone} {
      padding: 0 20px;
    }
  }
}

.background-features , .team {
  padding: 95px 0;
  @media #{$info-phone} {
    padding: 50px 0;
  }
}